@model Album
@{
    ViewData["Title"] = "Album";
}

<div class="row">
    @foreach (var p in Model.Lines)
    {
        if (p.Delete)
        {
            continue;
        }
        <div class="col-md-4">
            <h4>
                <strong>@Model.Name</strong>
                <a asp-action="Create" asp-controller="Comment" asp-route-area="" class="btn btn-sm btn-primary pull-right" asp-route-productId="@Model.AlbumID">Like?</a>
            </h4>
            <a asp-controller="Album" asp-action="Detail" asp-route-photoSrc="@p.Picture.GetRatePicName(640)" class="thumbnail">
                @*@{
                    string srcsetData = "";
                    srcsetData += p.Picture.GetRateName("4x") + " 4x, ";
                    srcsetData += p.Picture.GetRateName("3x") + " 3x, ";
                    srcsetData += p.Picture.GetRateName("2x") + " 2x, ";
                    srcsetData += p.Picture.GetRateName("1x") + " 1x";
                }*@
                <div style="position:relative;">
                    <img src="@p.Picture.ThumbnailName" style="width:100%;display:block;" alt="Albums" />
                    <img src="@p.Picture.GetRatePicName(640)" style="width:100%;display:block;position:absolute;top:0px;left:0px;" alt="Albums" />
                </div>
            </a>            
        </div>
    }
</div>


