@model Ticket
<div class="well">
    <h3>
        <strong>@Model.StartStation</strong>--<strong>@Model.TerminalStation</strong>
        <span class="pull-right label label-primary">
            @Model.Price.ToString("c")
        </span>
    </h3>
    <form id="@Model.TicketID" asp-action="AddToCart" asp-controller="Cart" method="post">
        <input type="hidden" asp-for="TicketID" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="lead">
            @Model.Description
            <button type="submit" class="btn btn-success btn-sm pull-right">购票</button>
        </span>
    </form>
</div> 